<form method="post">
    <table class="table">
        <tbody>
            <tr><th>Name</th><td><input type="text" name="Name" /></td></tr>
            <tr><th>Doses Required</th><td><select name="DosesRequired"><option value="1">1</option><option value="2">2</option></select></td></tr>
            <tr><th>Days Between Doses</th><td><input type="text" name="DaysBetweenDoses" /></td></tr>
            <tr><td><button>Add</button></td></tr>
        </tbody>
    </table>
</form>
