@{
    ViewData["Title"] = "Vaccine Home Page";
}
<div class="text-center">
    <a class="btn btn-primary" href="~/Vaccines" role="button">Vaccine Management</a>
    <a class="btn btn-primary" asp-controller="Patients" asp-action="Index" role="button">Patient Management</a>
</div>
